.jumbotron {
    background-image: linear-gradient(to right, white, lightgrey);
}

h3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:#5cb85c;
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: italic;
    color: darkgrey;
}

.carousel-image {
    max-height: 500px;
    max-width: 700px;
}

.carousel { 
    max-width:700px; 
    max-height:px; }

.carousel-inner img {
    margin: auto;
}

#indexCarouselSlides {
    margin: 0 auto;
}

#newsletterSignUp {
    background-color: rgba(57,55, 55, .10);
}

#newsletterSignUp p {
    color: black;
}

.article-img {
    height: 250px;
}

article {
    
}

